{% extends 'main/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="change-password-page">
    <div class="form-container">
        <h1>Change Password</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post" class="password-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %} 